html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
}

html,body {
	height: 100%;
	min-width: 960px;
}

body {
	background-color: #fff;
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	line-height: 1.4;
	color: #333;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0;
	margin-bottom: -330px;
}

#header {
	background: #eee;
	background: -moz-linear-gradient(#fff, #eee);
	background: -webkit-linear-gradient(#fff, #eee);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eeeeee')";
	position: relative;
	z-index: 10;
	border-bottom: 1px solid #cacaca;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px
		rgba(0, 0, 0, 0.1);
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

.container {
	width: 920px;
	margin: 0 auto;
}

.site-logo {
	float: left;
	position: relative;
	padding: 9px 0 0 0;
	zoom: 1;
}

.site-logo img {
	position: absolute;
	top: 10px;
	left: 0;
}

.quadcart-logo {
	float: left;
}

#menubox {
	float: right;
	line-height: 20px;
	padding: 7px 0;
}

#menu {
	float: left;
	font-weight: bold;
	padding: 5px 0;
	text-shadow: 0 1px 0 #fff;
}

#menu-links li {
	background: #f0f0f0;
	background: -moz-linear-gradient(#f0f0f0, #d9d9d9);
	background: -webkit-linear-gradient(#f0f0f0, #d9d9d9);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0',endColorstr='#d9d9d9')";
	float: left;
	margin: 2px 0 0 20px;
	padding: 2px 10px 2px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
	box-shadow: 0 1px 0 #d0d0d0, inset 0 1px 0 #e0e0e0;
	list-style: none;
}

#menu-links a {
	color: #888;
	text-decoration: none;
}

#menu-links a:hover {
	color: #666;
}

img {
	border: 0;
}

a {
	color: #4183c4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	outline: none;
}

a.button, a.button:visited, .button input, input[type="submit"] {
    font-size: 10px;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
    background-color: #fd6512;
    display: block;
    padding: 5px 10px 5px 17px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background 0.15s linear;
    -moz-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
}

a.button:hover, a.button:focus, .button input:hover, .button input:focus {
    text-decoration: none;
    background-color: #d0520e;
    cursor: pointer;
}

a.button:active, input[type="submit"]:hover {
    background-color: #8d3708;
}

.button input, input[type="submit"] {
    padding: 7px 45px 7px 10px;
}
